.profile{
    display: flex;
    max-width: 850px;
    min-width: 350px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}
.profile-details{
    width: 100%;
    padding: 10px 20px 10px;
}
.profile-details p{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: rgb(151, 151, 151);
}
.details{
    display: flex;
}
.details-left{
    width: 35%;
}
.details-left h6{
    margin: 10px;
    color: gray;
}
.details-right{
    width: 65%;
}
.details-right h6{
    margin: 10px;
}
.profile-photo{
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(204, 204, 204, 0.505);
}
.profile-photo-container{
    padding: 20px;
    align-items: center;
    text-align: center;
}
#upload-botton{
    background-color: #5a4bda;
    cursor: pointer;
    padding: 2px 7px 7px;
    border-radius: 50%;
    position:relative;
    top: -38px;
    right: -35px;
    border: 3px whitesmoke solid;
}
.update{
    width: 0px;
    position: relative;
    left: -40px;
    top: 10px;
}
