<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setting | Student</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <!-- navbar starts --------------------------------------->
    <%- include('../partials/navbar', {DP: aDP}); %>
    <!-- navbar ends --------------------------------------->

    <div class="home-page">
        <!-------------------- Left Sidebar -------------------->
        <%- include('aPartials/sidebar', {DP: aDP, name: aDetails.name}); %>

        <!-------------------- Right Sidebar -------------------->
        <div class="right-sidebar">

            <!-- 2nd box --------------------------- -->
            <div class="right-sidebar-container">
            <div class="announcement-container">
                <div class="right-sidebar-heading">
                <img src="images/home/settings.png" alt="" />
                <h4>Change your Password</h4>
                </div>

                <div class="right-sidebar-body settings-container">

                <form method="post" action="/aSettingsPasswordUpdate">
                    <div class="password-information">
                        <div class="settings-field">
                        <div class="settings-ques">Current Password:</div>
                        <input type="password" name="cur_password" placeholder="Enter current password" required/>
                        </div>
                        <div class="settings-field">
                        <div class="settings-ques">New Password:</div>
                        <input type="password" name="new_password" placeholder="Enter new password" required/>
                        </div>
                        <div class="settings-field">
                        <div class="settings-ques">Confirm Password:</div>
                        <input type="password" name="conf_password" placeholder="Confirm your password" required/>
                        </div>
                    </div>
                    <button>Update</button>
                </form>
                
                </div>
            </div>
            </div>

            <!-- 3rd box ----------------------------------- -->
            <div class="right-sidebar-container">

            <div class="right-sidebar-heading settings-heading">
                <img src="images/home/delete-user.png" alt="" />
                <h4>Delete Your Account</h4>
            </div>

            <div class="right-sidebar-settings-body">
                <h5>Once you delete your account, there is no going back. Please be certain</h5>
                <button class="deleteAcc">Delete Your Account</button>
            </div>
            </div>


            <!-- 4th box ------------------------------------ -->
            <div class="right-sidebar-container">

            <div class="right-sidebar-heading">
                <img src="images/home/log-out.png" alt="" />
                <h4>Logout of All Sessions</h4>
            </div>

            <div class="right-sidebar-settings-body">
                <h5>This will log you out of MyTutor from every devices that you're currently logged in on.</h5>
                <button class="logout">Logout of All Sessions</button>
            </div>

            </div>

            
            <br>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </body>
</html>