<div class="people">
    <div class="teachers">
        <div class="person_type">
            <div style="margin: 0 10px"><img src="images/home/teacher-people.png" width="30px"></div>
            <div class="people_heading">Teachers</div>
        </div>
        <hr style="margin-bottom: 0;">


        <div class="person">
            <div class="people_img"><img src="images/student/student.jpg" width="30px"></div>
            <div class="people_name">Souvik Naskar</div>
        </div>
        <hr class="people_break">
        <div class="person">
            <div class="people_img"><img src="images/student/student2.png" width="30px"></div>
            <div class="people_name">Arindam Haldar</div>
        </div>
    </div>



    <div class="students">
        <div class="person_type">
            <div style="margin: 0 10px"><img src="images/home/reading-book.png" width="30px"></div>
            <div class="people_heading">Classmates</div>
            <div class="student_count">30 students</div>
        </div>
        <hr style="margin-bottom: 0;">


        <div class="person">
            <div class="people_img"><img src="images/student/student.jpg" width="30px"></div>
            <div class="people_name">Souvik Naskar</div>
        </div>
        <hr class="people_break">
        <div class="person">
            <div class="people_img"><img src="images/student/student2.png" width="30px"></div>
            <div class="people_name">Arindam Haldar</div>
        </div>
        <hr class="people_break">
        <div class="person">
            <div class="people_img"><img src="images/student/student.jpg" width="30px"></div>
            <div class="people_name">Souvik Naskar</div>
        </div>
        <hr class="people_break">
        <div class="person">
            <div class="people_img"><img src="images/student/student2.png" width="30px"></div>
            <div class="people_name">Arindam Haldar</div>
        </div>
    </div>
</div>