<div class="notes">
    <div class="notes_initial_text">
        <h2 style="margin-top: 0;"><i class="fa-solid fa-book-open-reader" style="margin: 0 10px;"></i>View All Notes</h2>
    </div>
    <hr class="note_break">
    <div class="notes_container">
        <div class="note">
            <div class="note_img"><img src="images/home/notepad.png" width="30px"></div>
            <div class="note_title">Notes on Computer Networks</div>
            <div class="note_date">12 Oct, 2022</div>
        </div>
        <hr class="note_break">
        <div class="note">
            <div class="note_img"><img src="images/home/notepad.png" width="30px"></div>
            <div class="note_title">Notes on Computer Networks</div>
            <div class="note_date">12 Oct, 2022</div>
        </div>
        <hr class="note_break">
        <div class="note">
            <div class="note_img"><img src="images/home/notepad.png" width="30px"></div>
            <div class="note_title">Notes on Computer Networks</div>
            <div class="note_date">12 Oct, 2022</div>
        </div>
        <hr class="note_break">
        <div class="note">
            <div class="note_img"><img src="images/home/notepad.png" width="30px"></div>
            <div class="note_title">Notes on Computer Networks</div>
            <div class="note_date">12 Oct, 2022</div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/ecf1e84425.js" crossorigin="anonymous"></script>