<!-- Sidebar starts --------------------------------------->
<div class="left-sidebar">
    <div class="left-sidebar-heading">
      <div class="logo">
        <img
          src="<%= DP %>"
          alt=""
        />
      </div>
      <div class="left-sidebar-head"><%=name%></div>
    </div>

    <div class="left-sidebar-body">
      <a href="/sProfile">
        <i class="fa-regular fa-user"></i>
        <li>Profile</li>
      </a>
      <a href="">
        <i class="fa-sharp fa-solid fa-graduation-cap"></i>
        <li>Classrooms</li>
      </a>
      <a href="">
        <i class="fa-solid fa-certificate"></i>
        <li>Discussion</li>
      </a>
      <a href="">
        <i class="fa-solid fa-envelope"></i>
        <li>Invite</li>
      </a>
      <a href="/sSettings">
        <i class="fa-solid fa-gear"></i>
        <li>Settings</li>
      </a>
      <a href="">
        <i class="fa-solid fa-right-from-bracket"></i>
        <li>Logout</li>
      </a>
    </div>
</div>
<!-- Sidebar ends --------------------------------------->
<script src="https://kit.fontawesome.com/ecf1e84425.js" crossorigin="anonymous"></script>