<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setting | Student</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/tStyle.css">
  </head>
  <body>
    <!-- navbar starts --------------------------------------->
    <%- include('../partials/navbar'); %>
    <!-- navbar ends --------------------------------------->

    <div class="home-page">
        <!-------------------- Left Sidebar -------------------->
        <%- include('tPartials/sidebar'); %>

        <!-------------------- Right Sidebar -------------------->
        <div class="right-sidebar">

            <!-- 2nd box --------------------------- -->
            <div class="right-sidebar-container">
                <div class="batch">
                    <div class="batch__mainbody">
                      <div class="batch__header">My Batches</div>
                      <div class="batch__headersecond">Number of batches: 1</div>
                      <div class="batch__containers">
                        <div class="batch__box">
                          <div class="batch__boxhead">
                            <div class="batch__boxabout">
                              <a href="/">
                                <div class="batch__subname">Physics</div>
                                <div class="batch__cl">class 10, ICSE</div>
                              </a>
                            </div>
                            <div class="batch__boximg">
                              <!-- This dp will be present in student section -->
                              <!-- <img src="./imgcopy/physics.png" alt="sub"> -->
                            </div>
                          </div>
                          <div class="batch__boxbody">
                            <div class="batch__fee">Fees: Rs 500</div>
                            <div class="batch__studcount">Number of students: 40</div>
                            <div class="batch__daytime">Monday , 8:00 AM - 10:00 AM</div>
                            <div class="batch__editd">
                              <a id="modaledit">
                                <img src="images/home/editing.png" />
                                <a id="delete" class="delete"
                                  ><img src="images/teacher/delete.png" alt=""
                                /></a>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="details-update">
                        <div class="buttons">
                          <button id="editBtn">Add Batch</button>
                        </div>
                      </div>
                    </div>
              
                    <div class="edit-batch-modal" id="myModal">
                      <div class="edit-batch-modal-content">
                        <h2><b>Add Details</b></h2>
                        <div>
                          <form>
                            <div class="profile-edit-elements">
                              <div class="profile-edit-field"><h6>Subject</h6></div>
                              <div class="profile-edit-input">
                                <input type="text" name="subject" value="Physics" required />
                              </div>
                            </div>
                            <div class="profile-edit-elements">
                              <div class="profile-edit-field"><h6>Class-details</h6></div>
                              <div class="profile-edit-input">
                                <input
                                  type="text"
                                  name="classdetails"
                                  value="class 10, ICSE"
                                  required
                                />
                              </div>
                            </div>
              
                            <div class="profile-edit-elements">
                              <div class="profile-edit-field"><h6>Amount</h6></div>
                              <div class="profile-edit-input">
                                <input type="number" name="amount" value="500" required />
                              </div>
                            </div>
                            <div class="profile-edit-elements">
                              <div class="profile-edit-field"><h6>Timing</h6></div>
                              <div class="profile-edit-input">
                                <input
                                  type="text"
                                  name="timing"
                                  value="Monday, 10:00 AM - 12:30 AM"
                                  required
                                />
                              </div>
                            </div>
                            <div class="profile-edit-elements">
                              <div class="batch-updateBtn">
                                <button>Update</button>
                              </div>
                              <div class="batch-cancelBtn">
                                <button class="closeBtn">Cancel</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
              
                    <div class="edit-batch-modal" id="myModaledit">
                      <div class="edit-batch-modal-content">
                        <h2><b>Edit Details</b></h2>
                        <div>
                          <form>
                            <div class="profile-edit-elements">
                              <div class="profile-edit-field"><h6>Amount</h6></div>
                              <div class="profile-edit-input">
                                <input type="number" name="amount" value="500" required />
                              </div>
                            </div>
                            <div class="profile-edit-elements">
                              <div class="profile-edit-field"><h6>Timing</h6></div>
                              <div class="profile-edit-input">
                                <input
                                  type="text"
                                  name="timing"
                                  value="Monday, 10:00 AM - 12:30 AM"
                                  required
                                />
                              </div>
                            </div>
                            <div class="profile-edit-elements">
                              <div class="batch-updateBtn">
                                <button>Update</button>
                              </div>
                              <div class="batch-cancelBtn">
                                <button class="closeBtns">Cancel</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            
            <br>

        </div>
    </div>

    <script>
        const modal = document.getElementById("myModal");
        const btn = document.getElementById("editBtn");
        const span = document.getElementsByClassName("closeBtn");
  
        btn.onclick = function () {
          modal.style.display = "block";
        };
        span.onclick = function () {
          modal.style.display = "none";
        };
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        };
  
        const modale = document.getElementById("myModaledit");
        const btne = document.getElementById("modaledit");
        const spane = document.getElementsByClassName("closeBtns");
  
        btne.onclick = function () {
          modale.style.display = "block";
        };
        spane.onclick = function () {
          modale.style.display = "none";
        };
        window.onclick = function (event) {
          if (event.target == modale) {
            modale.style.display = "none";
          }
        };
      </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </body>
</html>