<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile | Teacher</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/tStyle.css" />
  </head>

  <body>
    <!-- navbar starts --------------------------------------->
    <%- include('../partials/navbar') %>
    <!-- navbar ends ----------------------------------------------------->

    <div class="home-page">
      <!-------------------- Left Sidebar -------------------->
      <%- include('tPartials/sidebar') %>

      <!-------------------- Right Sidebar -------------------->
      <div class="right-sidebar">
        <div class="teacher-profile">
          <div class="profile">
            <div class="leftside">
              <div class="profile-photo-container">
                <img src="https://assets.leetcode.com/users/avatars/avatar_1646054996.png" class="profile-photo" />
                <form>
                  <input
                    type="file"
                    name="profile-image"
                    id="upload"
                    style="display: none"
                  />
                  <label for="upload" id="upload-botton"
                    ><img src="images/home/camera.png" width="20px"
                  /></label>
                </form>
              </div>
              <div class="rate">
                <div class="ratetext">4.5</div>
                <div class="rateimg">
                    <i class="fa-solid fa-star"></i>
                </div>
              </div>
              <!-- <div class="sub">
                Teaches Computer Science to class 10-12 students
              </div> -->
            </div>

            <div class="profile-details">
              <h3>Profile Details</h3>
              <hr />
              <p>Personal Details</p>
              <div class="details">
                <div class="details-left">
                  <h6>Name:</h6>
                  <h6>Gender</h6>
                  <h6>Mobile No:</h6>
                  <h6>Email:</h6>
                  <h6>City:</h6>
                  <h6>DOB:</h6>
                </div>
                <div class="details-right">
                  <h6>Souvik Naskar</h6>
                  <h6>Female</h6>
                  <h6>9875571304</h6>
                  <h6>snrp2002@gmail.com</h6>
                  <h6>Kolkata</h6>
                  <h6>01/01/2000</h6>
                </div>
              </div>
              <p>Academic Details</p>
              <div class="details">
                <div class="details-left">
                  <h6>Specialisation:</h6>
                  <h6>Institution:</h6>
                  <h6>Degree:</h6>
                </div>
                <div class="details-right">
                  <h6>Computer Science</h6>
                  <h6>Jadavpur University</h6>
                  <h6>B.E:</h6>
                </div>
              </div>
              <p>Achievements</p>
              <div class="achievements">
                <h6>
                  Gold medalist in Computer Science, Former employee at Adobe
                </h6>
              </div>

              <p>Experience</p>
              <div class="achievements">
                <h6>4 years in teaching</h6>
              </div>
            </div>
            <div class="update">
              <a id="editBtn">
                <img src="images/home/editing.png" />
              </a>
            </div>
          </div>
          <div class="edit-modal" id="myModal">
            <div class="edit-modal-content">
              <h2><b>Edit Details</b></h2>
              <div>
                <form>
                  <p class="modal-title-head">Personal details</p>
                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>First Name</h6></div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        name="first_name"
                        value="Name"
                        required
                      />
                    </div>
                  </div>

                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>Gender</h6></div>
                    <div class="profile-edit-input" id="gender">
                      <input
                        type="radio"
                        id="male"
                        name="gender"
                        value="Male"
                        checked
                        required
                      />
                      <span class="gender-option">Male</span>
                      <input
                        type="radio"
                        id="female"
                        name="gender"
                        value="Female"
                        required
                      />
                      <span class="gender-option">Female</span>
                    </div>
                  </div>
                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>D.O.B.</h6></div>
                    <div class="profile-edit-input">
                      <input
                        type="date"
                        id="DOB"
                        name="DOB"
                        value="2000-01-01"
                        required
                      />
                    </div>
                  </div>

                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>Mobile No.</h6></div>
                    <div class="profile-edit-input">
                      <input
                        type="tel"
                        name="mobile_no"
                        pattern="[6-9]{1}[0-9]{9}"
                        value="9875571304"
                        required
                      />
                    </div>
                  </div>
                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>City</h6></div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        name="city"
                        value="City/Village"
                        required
                      />
                    </div>
                  </div>

                  <p class="modal-title-head">Academic details</p>

                  <div class="profile-edit-elements">
                    <div class="profile-edit-field">
                      <h6>Specialisation</h6>
                    </div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        id="specialisation"
                        name="specialisation"
                        value="CS"
                        required
                      />
                    </div>
                  </div>

                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>Institution</h6></div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        name="institution"
                        value="Jadavpur University"
                        required
                      />
                    </div>
                  </div>
                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>Degree</h6></div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        name="degree"
                        value="degree"
                        required
                      />
                    </div>
                  </div>

                  <p class="modal-title-head">Other details</p>

                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>Achievements</h6></div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        id="achievements"
                        name="achievements"
                        value="Gold medalist in Computer Science, Former employee at Adobe"
                        required
                      />
                    </div>
                  </div>

                  <div class="profile-edit-elements">
                    <div class="profile-edit-field"><h6>Experience</h6></div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        name="experience"
                        value="4 years in teaching"
                        required
                      />
                    </div>
                  </div>
                  <div class="profile-edit-elements">
                    <div class="profile-edit-field">
                      <h6>Subjects taught</h6>
                    </div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        name="subtaught"
                        value="Computer Science"
                        required
                      />
                    </div>
                  </div>
                  <div class="profile-edit-elements">
                    <div class="profile-edit-field">
                      <h6>Students taught</h6>
                    </div>
                    <div class="profile-edit-input">
                      <input
                        type="text"
                        name="studtaught"
                        value="class 6-10"
                        required
                      />
                    </div>
                  </div>

                  <div class="profile-edit-elements">
                    <div class="updateBtn">
                      <button>Update</button>
                    </div>
                    <div class="cancelBtn">
                      <button class="closeBtn">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      // modal to view teacher application starts ------------------------->
      const modal = document.getElementById("myModal");
      const btn = document.getElementById("editBtn");
      const span = document.getElementsByClassName("closeBtn")[0];

      btn.onclick = function () {
        modal.style.display = "block";
      };
      span.onclick = function () {
        modal.style.display = "none";
      };
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
      // modal to view teacher application ends --------------------------->
    </script>
  </body>
</html>
