
/* Modal Section */

.edit-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 30px;
    border: 1px solid #888;
    width: 470px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-edit-elements{
    display: flex;
    align-items: center;
}
.profile-edit-field{
    align-items: left;
    color: grey;
    width: 170px;
}
.edit-modal h6{
    font-size: 1rem;
    margin: 20px 0;
}
.profile-edit-input{
    width: 300px;
}
.profile-edit-input input[type=text]{
    height: 25px;
    border-radius: 5px;
    width: 270px;
    border: 1px solid black;
    padding: 5PX 8PX;
    font-size: 0.9rem;
}
.profile-edit-input input[type=number]{
    height: 25px;
    border-radius: 5px;
    width: 270px;
    border: 1px solid black;
    padding: 5PX 8PX;
    font-size: 0.9rem;
}
.profile-edit-input input[type=email]{
    height: 25px;
    border-radius: 5px;
    width: 270px;
    border: 1px solid black;
    padding: 5PX 8PX;
    font-size: 0.9rem;
}
.profile-edit-input input[type=radio]{
    height: 20px;
    width: 20px;
    accent-color: #5a4bda;
}
.profile-edit-input input[type=date]{
    width: 270px;
    height: 25px;
    padding: 5px 8px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid black;
}
#gender{
    display: flex;
    align-items: center;
}
.gender-option{
    margin-left: 10px;
    margin-right: 30px;
    font-size: 1rem;
}
.profile-edit-elements button{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 8px 40px;
    border-radius: 7px;
    border: 1px solid #5a4bda;
}
.updateBtn{
    padding-top: 20px;
    width: 300px;
}
.updateBtn button{
    background-color: white;
    color: #5a4bda;
    margin-left: 170px;
}
.cancelBtn button{
    background-color: #5a4bda;
    color: white;
    margin-left: 30px;
}
.cancelBtn{
    padding-top: 20px;
}