.profile{
    display: flex;
    max-width: 850px;
    min-width: 350px;
    padding: 30px ;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}
.rate{
    display: flex;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 10px;
    justify-content: center;
    color: #1605b4;
}
.rateimg img
{
    height: 25px;
}
.sub
{
    font-size: 1.2rem;
    color:rgb(118, 3, 3);
    font-weight: 800;
}
.profile-details{
    width: 100%;
    padding: 10px 20px 10px;
}
.profile-details p{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: rgb(151, 151, 151);
}
.details{
    display: flex;
}
.details-left{
    width: 35%;
}
.details-left h6{
    margin: 10px;
    color: gray;
}
.details-right{
    width: 65%;
}
.details-right h6{
    margin: 10px;
}
.profile-photo{
    width: 120px;
    border-radius: 50%;
    /* box-shadow: 0 0 20px rgba(204, 204, 204, 0.505); */
    box-shadow: 3px 3px 10px 1px rgb(105, 104, 104);
}
.profile-photo-container{
    padding-top: 20px ;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
}
#upload-botton{
    background-color: #5a4bda;
    cursor: pointer;
    padding: 2px 7px 7px;
    border-radius: 50%;
    position:relative;
    top: -38px;
    right: -35px;
    border: 3px whitesmoke solid;
}
.update{
    width: 0px;
    position: relative;
    left: -40px;
    top: 10px;
}
.achievements
{
  padding-top: 20px;  
}
