  <!-- navbar starts --------------------------------------->
  <div class="navBar">
    <div class="left-nav">
      <img src="images/home/logo.png" alt="logo" />
      <div class="brand-name">MyTutor</div>
    </div>

    <div class="mid-nav">
      <!-- <a href="">
        <li>Home</li>
      </a>
      <a href="">
        <li>Benefits</li>
      </a>
      <a href="">
        <li>Features</li>
      </a>
      <a href="">
        <li>Reviews</li>
      </a>
      <a href="">
        <li>Contact</li>
      </a> -->
    </div>

    <div class="right-nav">
      <button>Login</button>
      <div class="dropdown">
        <img
          src="<%=DP %>"
          alt="dp"
          id="nav-dp-icon"
        />
        <div class="dropdown-content" id="nav-dropdown">
          <a href="./aProfile.html">
            <i class="fa-regular fa-user"></i>
            <li>Profile</li>
          </a>
          <a href="./aAnnouncement.html">
            <i class="fa-solid fa-scroll"></i>
            <li>Announcements</li>
          </a>
          <a href="./aVerify.html">
            <i class="fa-solid fa-certificate"></i>
            <li>Verify Teacher</li>
          </a>
          <a href="">
            <i class="fa-solid fa-medal"></i>
            <li>Badges</li>
          </a>
          <a href="./aSetting.html">
            <i class="fa-solid fa-gear"></i>
            <li>Settings</li>
          </a>
          <a href="">
            <i class="fa-solid fa-right-from-bracket"></i>
            <li>Logout</li>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar ends ----------------------------------------------------->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/home.js"></script>