  <!-- navbar starts --------------------------------------->
  <div class="navBar">
    <div class="left-nav">
      <img src="images/home/logo.png" alt="logo" />
      <div class="brand-name">MyTutor</div>
    </div>

    <div class="mid-nav">
      <!-- <a href="">
        <li>Home</li>
      </a>
      <a href="">
        <li>Benefits</li>
      </a>
      <a href="">
        <li>Features</li>
      </a>
      <a href="">
        <li>Reviews</li>
      </a>
      <a href="">
        <li>Contact</li>
      </a> -->
    </div>

    <div class="right-nav">

      <div class="dropdown">  <!-- Notification Dropdown -->
        <i class="fa-sharp fa-solid fa-bell notif-icon" id="noti-icon"></i>
        <div class="dropdown-content noti-dropdown" id="noti-dropdown">
          <div class="notification-head">Notifications</div>
          <div class="notifications-list">
            <div class="notification-message">Application will be under maintenance from 14th November 2pm - 4:30pm</div>
          </div>
          <div class="notifications-list">
            <div class="notification-message">Application will be under maintenance from 14th November 2pm - 4:30pm</div>
          </div>

          <div class="see-all-btn">See All</div>
        </div>
      </div>


      <!-- <button>Login</button> -->
      <div class="dropdown">  <!-- dp dropdown -->
        <img
          src="https://assets.leetcode.com/users/avatars/avatar_1646054996.png"
          alt="dp"
          id="nav-dp-icon"
        />
        <div class="dropdown-content" id="nav-dropdown">
          <a href="./aProfile">
            <i class="fa-regular fa-user"></i>
            <li>Profile</li>
          </a>
          <a href="./aAnnouncements">
            <i class="fa-solid fa-scroll"></i>
            <li>Announcements</li>
          </a>
          <a href="./aVerify">
            <i class="fa-solid fa-certificate"></i>
            <li>Verify Teacher</li>
          </a>
          <a href="">
            <i class="fa-solid fa-medal"></i>
            <li>Badges</li>
          </a>
          <a href="./aSettings">
            <i class="fa-solid fa-gear"></i>
            <li>Settings</li>
          </a>
          <a href="">
            <i class="fa-solid fa-right-from-bracket"></i>
            <li>Logout</li>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar ends ----------------------------------------------------->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/home.js"></script>