<!-- Sidebar starts --------------------------------------->
<div class="left-sidebar">
    <div class="left-sidebar-heading">
      <div class="logo">
        <img
          src="https://assets.leetcode.com/users/avatars/avatar_1646054996.png"
          alt=""
        />
      </div>
      <div class="left-sidebar-head">Arindam Halder</div>
    </div>

    <div class="left-sidebar-body">
      <a href="/tProfile">
        <i class="fa-regular fa-user"></i>
        <li>Profile</li>
      </a>
      <a href="/tBatch">
        <i class="fa-solid fa-circle-check"></i></i>
        <li>Batch</li>
      </a>
      <a href="">
        <i class="fa-sharp fa-solid fa-scroll"></i>
        <li>Announcements</li>
      </a>
      <a href="">
        <i class="fa-solid fa-certificate"></i>
        <li>Discussion</li>
      </a>
      <a href="/tSettings">
        <i class="fa-solid fa-gear"></i>
        <li>Settings</li>
      </a>
      <a href="">
        <i class="fa-solid fa-right-from-bracket"></i>
        <li>Logout</li>
      </a>
    </div>
</div>
<!-- Sidebar ends --------------------------------------->
<script src="https://kit.fontawesome.com/ecf1e84425.js" crossorigin="anonymous"></script>