<!-- Sidebar starts --------------------------------------->
<div class="left-sidebar">
    <div class="left-sidebar-heading">
      <div class="logo">
        <img
          src="<%= DP %>"
          alt=""
        />
      </div>
      <div class="left-sidebar-head">Arindam Halder</div>
    </div>

    <div class="left-sidebar-body">
      <a href="/StudentProfile">
        <i class="fa-regular fa-user"></i>
        <li>Profile</li>
      </a>
      <a href="./aAnnouncement.html">
        <i class="fa-solid fa-scroll"></i>
        <li>Announcements</li>
      </a>
      <a href="./aVerify.html">
        <i class="fa-solid fa-certificate"></i>
        <li>Verify Teacher</li>
      </a>
      <a href="">
        <i class="fa-solid fa-medal"></i>
        <li>Badges</li>
      </a>
      <a href="./aSetting.html">
        <i class="fa-solid fa-gear"></i>
        <li>Settings</li>
      </a>
      <a href="">
        <i class="fa-solid fa-right-from-bracket"></i>
        <li>Logout</li>
      </a>
    </div>
</div>
<!-- Sidebar ends --------------------------------------->